/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1a202c;
    color: #edf2f7;
    font-family: 'Arial', sans-serif;
    padding: 40px;
  }
  
  /* Logo Styling */
header {
    text-align: center;
    margin-bottom: 20px; /* Adjust spacing as needed */
  }
  
  .logo {
    width: 100px; /* Adjust the size of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #2d3748;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .input-container {
    margin-bottom: 30px;
  }
  
  .label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: #4a5568;
    color: #edf2f7;
    border: none;
    font-size: 1rem;
  }
  
  .input:focus {
    outline: none;
    border: 2px solid #48bb78;
  }
  
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .menu div {
    background-color: #4a5568;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .menu p {
    color: #e2e8f0;
    font-size: 1rem;
  }
  
  .menu button {
    background-color: #38a169;
    color: #edf2f7;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .menu button:hover {
    background-color: #2f855a;
  }
  
  .bill-section {
    background-color: #4a5568;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  
  .bill-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .bill-items {
    margin-bottom: 30px;
  }
  
  .summary {
    font-size: 1.2rem;
  }
  
  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .summary-item.total {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .summary hr {
    border: 1px solid #2d3748;
    margin-bottom: 20px;
  }
  
  .btn {
    width: 100%;
    background-color: #38a169;
    color: #edf2f7;
    padding: 12px;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
  }
  
  .btn:hover {
    background-color: #2f855a;
  }
  